*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Furore';
    src: url('../fonts/Furore.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.wrapper{
    overflow-x: hidden;
}
body{
    background-color: rgb(2, 1, 1);
}
header{
    background-image: url(../assets/images/header-bg.png);
    width: 100%;
    height: 657px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    
}
.header{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 96px;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-image{
    display: block;
    margin: auto;
    width: 215px;
    padding-top: 48px;
}
.header__title{
    max-width: 657px;
}
.header__title-gradient{
    background: linear-gradient(89.74deg, rgba(255, 255, 255, 0.7) 25.95%, rgba(0, 0, 0, 0.7) 99.77%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Furore';
    font-size: clamp(37px, 5vw, 69px);
}
.header__description{
    max-width: 550px;
    font-size: clamp(16px, 2vw, 22px);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-top: 32px;
    margin-bottom: 32px;
}
.text-highlight{
    color: #D8B576;
}
.header__link{
    display: flex;
    background: radial-gradient(89.06% 243.11% at 50.89% 39.06%, #FFE39A 0%, #D0B076 100%),#F6CB4F;
    width: 292px;
    height: 67px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 16px;
    color: #080909;
    font-weight: 500;
}

.header__note {
    position: relative;
    padding: 15px;
    font-size: 16px;
    color: white; 
    background: transparent; 
    border-radius: 12px; 
    overflow: hidden; 
    width: 320px;
    font-weight: 300;
}

.header__note::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px; 
    padding: 1px; 
    background: linear-gradient(50deg, #D8B576 0%, rgba(114, 96, 62, 0) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none; 
}
.header__actions{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__image-content{
    width: 440px;
    height: 580px;
}
.header__content-mobile{
    display: none;
}

.about__title{
    background: linear-gradient(89.74deg, rgba(255, 255, 255, 0.7) 25.95%, rgba(0, 0, 0, 0.7) 99.77%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Furore';
    font-size: clamp(37px, 5vw, 69px);
    font-family: 'Furore' sans-serif;
    text-align: center;
}
.about__stats{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

}
.stats__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.stats__value{
    font-size: clamp(37px, 5vw, 69px);

}

.stats__value-first{
    background: linear-gradient(276.54deg, rgba(255, 255, 255, 0.7) 27.03%, rgba(0, 0, 0, 0.7) 106.33%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Furore';
}
.stats__value-second{
    background: linear-gradient(276.54deg, rgba(255, 255, 255, 0.7) 80.03%, rgba(0, 0, 0, 0.7) 106.33%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Furore';
}
.stats__value-third{
    background: linear-gradient(-276.54deg, rgba(255, 255, 255, 0.7) 40.03%, rgba(0, 0, 0, 0.7) 106.33%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Furore';
}
.stats__label{
    font-size: clamp(16px, 2vw, 22px);

}
.blur{
    position: relative;
    backdrop-filter: blur(2px);
}
.blur-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 1200px;
}
.team__title{
    font-size: clamp(25px, 3vw, 40px);
    background: linear-gradient(-276.54deg, rgba(255, 255, 255, 0.7) 30.03%, rgba(0, 0, 0, 0.7) 50.33%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Furore';
    margin-top: 64px;
    
}
.team__description{
    font-size: clamp(16px, 2vw, 20px);
    color: white;
    white-space: pre-line;
    font-weight: 300;
    margin-bottom: 32px;
}
.about{
    max-width: 1200px;
    margin: auto;
}




.swiper {
    max-width: 1200px;
    margin: auto;
    border-radius: 25px;
    z-index: 0;
  }
  
  .slider-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .slide-image{
    width: 272px; 
    height: 380px;
  }

main{
    background-image: url(../assets/images/main-bg.png);
    background-size: cover;
    background-position: center -80px;
    background-repeat: no-repeat;
    position: relative;
    background-size: 1550px;
    background-color: rgba(0, 0, 0, 0.4); /* Затемнение */
    background-blend-mode: multiply;
}
.main__link{
    background: radial-gradient(89.06% 243.11% at 50.89% 39.06%, #FFFFFF 0%, #B8B8B8 100%) 
}
.links-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 64px;
    margin-bottom: 96px;
}
.actual-accuracy{
    max-width: 1200px;
    margin: auto;
}

.actual-accuracy__container{
    background-image: url(../assets/images/accurancy-bg.png);
    width: 1200px;
    height: 550px;
    background-size: cover;
    display: block;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 96px;
}
.actual-accuracy__title{
    background: linear-gradient(89.74deg, rgba(255, 255, 255, 0.7) 25.95%, rgba(0, 0, 0, 0.7) 99.77%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: clamp(39px, 5vw, 69px);
    font-family: 'Furore';
    text-align: center;
}
.actual-accuracy__subtitle{
    font-size: clamp(16px, 2vw, 22px);
    color: white;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.actual-accuracy__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(216, 181, 118, 0.3);
    padding: 20px;
    width: 150px;
    height: 100px;
    border-radius: 15px;
    background: rgba(139, 139, 139, 0.1);
    backdrop-filter: blur(1.65px);
}
.actual-accuracy__column{
    display: flex;
    align-items: center;
    gap: 20px;

}
.actual-accuracy__item-font-family{
    font-family: 'Furore';
    font-size: 30px;
    color: white;
}
.actual-accuracy__info{
    height: 100px;
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid rgba(216, 181, 118, 0.3);
    border-radius: 15px;
    background: rgba(139, 139, 139, 0.1);
    backdrop-filter: blur(1.65px);
}
.actual-accuracy__info-p{
    font-size: 18px;
    color: white;
    width: 45%;
    padding: 20px;
}
.divider{
    height: 80%;
    background-color: #D0B076;
    width: 0.5px;
}
.actual-accuracy__vip{
    display: flex;
    align-items: center;
    gap: 20px;
}
.actual-accuracy__vip-p{
    color: white;
    font-size: 18px;
    width: 300px;
    white-space: pre-line;
}
.actual-accuracy__container-mobile{
  display: none;
}
.accuracy-mobile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    border: 0.5px solid rgba(216, 181, 118, 0.3);
    border-radius: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    gap: 12px;

}
.mobile-link{
    width: 310px;
    margin-top: 12px;
}
.actual-accuracy__info-p-mobile{
    height: 72px;
    background: rgba(139, 139, 139, 0.1);
    backdrop-filter: blur(1.65px);
    color: white;
    text-align: center;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgba(216, 181, 118, 0.3);
    border-radius: 15px;
    
}
.vip-p-mobile{
    color: white;
    font-size: 18px;
    width: 310px;
    text-align: center;
}
@media screen and (max-width: 1070px){
    .header{
        margin-bottom: 64px;
    }
    .header__content{
        display: none;
    }
    .header__content-mobile{
        display: block;
        text-align: center;
    }
    .header__title{
        text-align: center;
        display: block;
        margin: auto;
        max-width: 350px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .header__image-content{
        width: 340px;
        height: auto;
    }
    .header__actions{
        flex-direction: column;
    }
    .header__description{
        display: block;
        margin: auto;
        margin-bottom: 24px;
        margin-top: 24px;
        max-width: 350px;
    }

    .slide-image{
        width: 180px;
        height: 200px;
    }
    main{
        margin-top: 360px;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.6); /* Затемнение */
        background-blend-mode: multiply;
    }
    .blur{
        display: none;
    }
    .blur-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .team__description{
        text-align: center;
        max-width: 330px;
        margin: auto;
        margin-bottom: 48px;
    }
    .team__title{
        text-align: center;
        margin-top: 12px;
        font-size: clamp(25px, 3vw, 40px);
    background: linear-gradient(-276.54deg, rgba(255, 255, 255, 0.7) 30.03%, rgba(0, 0, 0, 0.7) 90.33%), #FFF;
        background-clip: border-box, border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Furore';
    }
    .stats__item{
        gap: 10px;
    }
    .about__title{
        margin-bottom: 12px;
        margin-bottom: 32px;
    }
    .links-container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
    }
    .actual-accuracy__container{
        display: none;
    }
    .actual-accuracy__container-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .actual-accuracy__column {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .actual-accuracy__subtitle{
        width: 260px;
        margin: auto;
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .actual-accuracy__title{
        width: 310px;
        margin: auto;
      }
      main{
        background-position-y: -100px;

      }
}